.todo {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    margin: 15px 0;
    font-size: 1.5rem;
    border-radius:15px;
    border: 2px solid #555;
    background-color: aliceblue;
    color: #555;
}

.todoIcon {
    font-size: 1.8rem;
    color:teal;
}
.todoText {
    width: 100%;
    text-align: left;
}
.checkIcon,
.deleteIcon {
  cursor: pointer;
  color: lightgrey;
  padding: 0 7px;
  font-size: 1.8rem;
  transition: transform 0.3s;
}
.checkIcon:hover,
.deleteIcon:hover {
  cursor: pointer;
  transform: scale(1.3);
}
.checkIcon:hover {
    color: green;
  }
  
  .deleteIcon:hover {
    color: red;
  }

  .completedTodo {
    background-color: unset;
    color:gray;
  }

  .nestedCheckIcon {
    color:green;
  }
  

